
<section class="content1">

    <div class="content-block">
      <img src="assets/images/andrea/buses.png"  style="width:100%; height: 100%; opacity: 0.5;">
      <div class="row waw">
        <div class="row">
            <h1>Welcome to Just In Time!</h1>
        </div>
        <div class="row">
            <h3>This website is made to help citizens move from one place to another in a very efficient way!</h3>
        </div>
        <div class="row">
            <h3>It allows people to purchase tickets ahead of time for their desired destination!</h3>
        </div>
      </div>
      <div class="row boo">
        <div class="row">
            <h4>If faced with any issues, please contact us:</h4>
        </div>
        <div class="row">
            <h5>Phone: +96171722835</h5>
        </div>
        <div class="row">
            <h5>Email: andrea_lteif@hotmail.com</h5>
        </div>
      </div>
    </div>
</section>