<div class="auth-container">
    <div class="row auth-main">
      <div class="col-sm-6 px-0 d-none d-sm-block">
        <div class="left-img" style="background-image: url(assets/images/andrea/login.jpeg);">
        </div>
      </div>
      <div class="col-sm-6 auth-form-section">
        <div class="form-section">
          <div class="auth-wrapper">
            <h2 class="welcome-msg"> Sign Up </h2>
            <p class="auth-signup-text text-muted">Enter details to create your account</p>
            <form class="validate-form" [formGroup]="authForm" (ngSubmit)="Submit()">
              <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                  <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>First Name</mat-label>
                    <input matInput formControlName="firstName" required>
                    <mat-icon matSuffix class="face-icon">face</mat-icon>
                    <mat-error *ngIf="authForm.get('firstName').hasError('required')">
                      Required
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                  <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Last Name</mat-label>
                    <input matInput formControlName="lastName" required>
                    <mat-icon matSuffix class="face-icon">face</mat-icon>
                    <mat-error *ngIf="authForm.get('lastName').hasError('required')">
                        Required
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-12col-lg-12 col-md-12 col-sm-12 mb-2">
                  <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Email</mat-label>
                    <input matInput formControlName="email" required>
                    <mat-icon matSuffix class="face-icon">mail</mat-icon>
                    <mat-error *ngIf="authForm.get('email').hasError('required') || authForm.get('email').touched">
                      Please enter a valid email address
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-12col-lg-12 col-md-12 col-sm-12 mb-2">
                  <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Phone Number</mat-label>
                    <input matInput placeholder="Phone Number" prefix="+961 " mask="00 000 000" formControlName="phoneNumber"/>
                    <mat-icon matSuffix class="face-icon">phone</mat-icon>
                    <mat-error *ngIf="authForm.get('phoneNumber').hasError('required')">
                      Required
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="flex-sb-m w-full  p-b-20">
                <div>
                  <span>Already Registered? <a routerLink="/auth/login">
                      Login
                    </a></span>
                </div>
              </div>
              <div class="container-auth-form-btn">
                <button mat-flat-button class="auth-form-btn" [disabled]="!authForm.valid " type="submit">
                  Register
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>