<div class="addContainer">
    <div class="modalHeader">
        <div class="editRowModal">
            <div class="modalHeader clearfix">
                <div class="modal-about">
                    {{dialogTitle}}
                </div>
            </div>
        </div>
        <button mat-icon-button (click)="dialogRef.close()" class="modal-close-button" aria-label="Close dialog">
            <mat-icon>close</mat-icon>
        </button>
    </div>
    <div mat-dialog-content>
        <form class="register-form m-4" [formGroup]="busTypeForm" (ngSubmit)="Submit()">
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                    <label>Name</label>
                    <mat-form-field class="example-full-width" appearance="outline">
                        <!-- <mat-label>Name</mat-label> -->
                        <input type="text" matInput formControlName="name" placeholder="Name">
                        <mat-error *ngIf="busTypeForm.get('name').hasError('required')">
                            Required
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 mb-2">
                    <div class="m-b-20">
                        <label>Standing Seats</label>
                        <mat-form-field class="example-full-width" appearance="outline">
                            <!-- <mat-label>Standing Seats</mat-label> -->
                            <input type="number" step="1" min="0" matInput formControlName="standingSeats" placeholder="Standing Seats">
                            <mat-error *ngIf="busTypeForm.get('standingSeats').hasError('required')">
                                Required
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 mb-2">
                    <div class="m-b-20">
                        <label>Seated Seats</label>
                        <mat-form-field class="example-full-width" appearance="outline">
                            <!-- <mat-label>Seated Seats</mat-label> -->
                            <input type="number" step="1" min="0" matInput formControlName="seatedSeats" placeholder="Seated Seats">
                            <mat-error *ngIf="busTypeForm.get('seatedSeats').hasError('required')">
                                Required
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                    <div class="example-button-row" style="float: right;">
                        <!-- <button mat-raised-button color="primary" type="submit" [disabled]="!advanceTableForm.valid"
                            [mat-dialog-close]="1" (click)="confirmAdd()">Save</button> -->
                            <button mat-raised-button type="submit" style="background-color: #3f51b5; color: white;"          
                            [disabled]="submitting">
                            <i class="fas fa-spinner fa-spin" *ngIf="submitting"></i>
                            <!-- <mat-icon *ngIf="!submitting">save</mat-icon> -->
                            Save
                          </button>

                    </div>
                </div>
            </div>
        </form>
    </div>
</div>