<div class="addContainer">
    <div class="modalHeader">
        <div class="editRowModal">
            <div class="modalHeader clearfix">
                <div class="modal-about">
                    {{dialogTitle}}
                </div>
            </div>
        </div>
        <button mat-icon-button (click)="dialogRef.close()" class="modal-close-button" aria-label="Close dialog">
            <mat-icon>close</mat-icon>
        </button>
    </div>
    <div mat-dialog-content>
        <form class="register-form m-4" [formGroup]="stationForm" (ngSubmit)="Submit()">
            <div class="row">
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2">
                    <label>Name</label>
                    <mat-form-field class="example-full-width" appearance="outline">
                        <input type="text" matInput formControlName="name" placeholder="Name">
                        <mat-error *ngIf="stationForm.get('name').hasError('required')">
                            Required
                        </mat-error>
                    </mat-form-field>
                </div>
                
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2">
                    <div class="m-b-20">
                        <label>Order</label>
                        <mat-form-field class="example-full-width" appearance="outline">
                            <input type="number" step="1" min="0" matInput formControlName="orderNumber" placeholder="Order">
                            <mat-error *ngIf="stationForm.get('orderNumber').hasError('required')">
                                Required
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2">
                    <div class="m-b-20">
                        <label>Duration (mins)</label>
                        <mat-form-field class="example-full-width" appearance="outline">
                            <input type="number" step="1" min="0" matInput formControlName="duration" placeholder="Duration">
                            <mat-error *ngIf="stationForm.get('duration').hasError('required')">
                                Required
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
            </div>
            <div class="row">
              
                
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2">
                    <div class="m-b-20">
                        <label>Stop Time (mins)</label>
                        <mat-form-field class="example-full-width" appearance="outline">
                            <input type="number" step="1" min="0" matInput formControlName="stopTime" placeholder="Stop Time">
                            <mat-error *ngIf="stationForm.get('stopTime').hasError('required')">
                                Required
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
           
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2">
                    <div class="m-b-20">
                        <label>Price ($)</label>
                        <mat-form-field class="example-full-width" appearance="outline">
                            <!-- <mat-label>Seated Seats</mat-label> -->
                            <input type="number" step="1" min="0" matInput formControlName="price" placeholder="Price">
                            <mat-error *ngIf="stationForm.get('price').hasError('required')">
                                Required
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
                
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2">
                    <label>Location</label>
                    <mat-form-field class="example-full-width" appearance="outline">
                        <!-- <mat-label>Name</mat-label> -->
                        <input type="text" matInput formControlName="location" placeholder="Location">
                        <mat-error *ngIf="stationForm.get('location').hasError('required')">
                            Required
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                    <div class="m-b-20">
                        <label>Routes</label>
                        <mat-form-field class="example-full-width">
                            <mat-select formControlName="routeId" multiple placeholder="Routes">
                              <mat-option *ngFor="let route of routes" [value]="route.id">{{route.name}}
                              </mat-option>
                            </mat-select>
                            <mat-error *ngIf="stationForm.get('routeId').hasError('required')">
                                Required
                            </mat-error>
                          </mat-form-field>
                    </div>
                </div>
             
            </div>
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                    <div class="example-button-row" style="float: right;">
                        <!-- <button mat-raised-button color="primary" type="submit" [disabled]="!advanceTableForm.valid"
                            [mat-dialog-close]="1" (click)="confirmAdd()">Save</button> -->
                            <button mat-raised-button type="submit" class="btn-primary"         
                            [disabled]="submitting">
                            <i class="fas fa-spinner fa-spin" *ngIf="submitting"></i>
                            <!-- <mat-icon *ngIf="!submitting">save</mat-icon> -->
                            Save
                          </button>

                    </div>
                </div>
            </div>
        </form>
    </div>
</div>