<div class="addContainer">
    <div class="modalHeader">
        <div class="editRowModal">
            <div class="modalHeader clearfix">
                <div class="modal-about">
                    {{dialogTitle}}
                </div>
            </div>
        </div>
        <button mat-icon-button (click)="dialogRef.close()" class="modal-close-button" aria-label="Close dialog">
            <mat-icon>close</mat-icon>
        </button>
    </div>
    <div mat-dialog-content>
        <form class="register-form m-4" [formGroup]="ticketForm" (ngSubmit)="Submit()">
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 mb-2">
                    <div class="m-b-20">
                        <label>Route</label>
                        <mat-form-field class="example-full-width" appearance="outline">
                            <mat-select  required formControlName="routeId" placeholder="Route">
                                <mat-option *ngFor="let route of routes" [value]="route.id" >
                                  {{route.name}}
                                </mat-option>
                              </mat-select>
                            <mat-error *ngIf="ticketForm.get('routeId').hasError('required')">
                                Required
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
                
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 mb-2">
                    <div class="m-b-20">
                        <label>Bus</label>
                        <mat-form-field class="example-full-width" appearance="outline">
                            <mat-select  required formControlName="busId" placeholder="Bus">
                                <mat-option *ngFor="let bus of buses" [value]="bus.id" >
                                  {{bus.name}}
                                </mat-option>
                              </mat-select>
                            <mat-error *ngIf="ticketForm.get('busId').hasError('required')">
                                Required
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
            </div>
            <div class="row">
              
                
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 mb-2">
                    <div class="m-b-20">
                        <label>Seat</label>
                        <mat-form-field class="example-full-width" appearance="outline">
                            <mat-select  required formControlName="seatId" placeholder="Seat">
                                <mat-option *ngFor="let seat of seats" [value]="seat.id" >
                                  {{seat.number}}
                                </mat-option>
                              </mat-select>
                            <mat-error *ngIf="ticketForm.get('seatId').hasError('required')">
                                Required
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
           
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 mb-2">
                    <div class="m-b-20">
                        <label>User</label>
                        <mat-form-field class="example-full-width" appearance="outline">
                            <mat-select  required formControlName="userId" placeholder="User">
                                <mat-option *ngFor="let user of users" [value]="user.id" >
                                  {{user.email}}
                                </mat-option>
                              </mat-select>
                            <mat-error *ngIf="ticketForm.get('userId').hasError('required')">
                                Required
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                    <div class="m-b-20">
                        <label>Stations</label>
                        <mat-form-field class="example-full-width">
                            <mat-select formControlName="stationId" multiple placeholder="Stations">
                              <mat-option *ngFor="let station of stations" [value]="station.id">{{station.name}}
                              </mat-option>
                            </mat-select>
                            <mat-error *ngIf="ticketForm.get('stationId').hasError('required')">
                                Required
                            </mat-error>
                          </mat-form-field>
                    </div>
                </div>
             
            </div>
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                    <div class="example-button-row" style="float: right;">
                        <!-- <button mat-raised-button color="primary" type="submit" [disabled]="!advanceTableForm.valid"
                            [mat-dialog-close]="1" (click)="confirmAdd()">Save</button> -->
                            <button mat-raised-button type="submit" style="background-color: #3f51b5; color: white;"         
                            [disabled]="submitting">
                            <i class="fas fa-spinner fa-spin" *ngIf="submitting"></i>
                            <!-- <mat-icon *ngIf="!submitting">save</mat-icon> -->
                            Save
                          </button>

                    </div>
                </div>
            </div>
        </form>
    </div>
</div>